body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
}

h1 {
    color: black;
    font-size: 50px;
    margin-top: 20px;
}

#city-form-section, #current-weather-section, #forecast-section, #search-history-section {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

input {
    padding: 10px;
    width: 70%;
    max-width: 300px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: darkblue;
}

#current-weather-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-weather {
    max-width: 40%;
    background-color: lightcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    display: none;
    box-sizing: border-box;
    text-align: center;
}

#current-weather h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#current-weather p {
    font-size: 20px;
    margin: 5px 0;
}

#current-weather img {
    display: block;
    margin: 0 auto;
}

#forecast, #search-history {
    margin-bottom: 20px;
}

#search-history ul {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    padding: 10px;
    background-color: lightcyan;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#search-history li:hover {
    background-color: light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#forecast {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.forecast-day {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 calc(50% - 20px);
    max-width: 45%;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 600px) {
    .forecast-day {
        flex: 1 1 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    #current-weather h2 {
        font-size: 28px;
    }

    #current-weather p {
        font-size: 18px;
    }
}
