body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    text-align: center;
}

h1 {
    color: black;
    font-size: 44px;
}

/* Form styling */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

/* App container styling */
#app {
    max-width: 600;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

/* Current weather styling */
#current-weather {
    background-color: lightcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
}

#current-weather h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#current-weather p {
    font-size: 18px;
    margin: 5px 0;
}

#current-weather img {
    display: block;
    margin: 0 auto;
}


/* Forecasted weather styling */
#forecast, #search-history {
    margin-bottom: 20px;
}

/* Search history styling */
#search-history ul {
    list-style-type: none;
    padding: 0;
}

#search-history li {
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

#search-history li:hover {
    background-color: whitesmoke;
}

/* Forecast container styling */
#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Forecast day styling */
.forecast-day {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 150px; 
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}